// Fonts

@font-face {
  font-family: 'broadstone-midtown';
  src:  url('../fonts/broadstone-midtown.eot?crhudr');
  src:  url('../fonts/broadstone-midtown.eot?crhudr#iefix') format('embedded-opentype'),
    	url('../fonts/broadstone-midtown.ttf?crhudr') format('truetype'),
		url('../fonts/broadstone-midtown.woff?crhudr') format('woff'),
		url('../fonts/broadstone-midtown.svg?crhudr#broadstone-springs') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'broadstone-midtown' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-building:before {
  content: "\e900";
}
.icon-icon-bike:before {
  content: "\e901";
}
.icon-phone-icon:before {
  content: "\e902";
}
.icon-icon-key:before {
  content: "\e903";
}
.icon-icon-washing-machine:before {
  content: "\e906";
}
.icon-left-arrow:before {
  content: "\e904";
}
.icon-right-arrow:before {
  content: "\e905";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-icon-arrows:before {
  content: "\e907";
}