// Wraps interior content in a media query
@mixin breakpoint($querystring) {
  $valid: true;
  @if type-of($querystring) != "string" {
    //@warn "querystring: #{$querystring} is not a string";
    $valid: false;
  }
  @if $valid == true {
    @media only screen and #{$querystring} {
      @content;
    }
  }
  @else {
    @media (min-width: #{$querystring}) { @content; }
  }
}