/* Variables */

// Fonts
$sans: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Amasis W01', Georgia, serif;
$icon: 'broadstone-midtown';
$deco: 'Majolica W00', 'Century Gothic', Helvetica, Arial sans-serif;

// Colors

$black: #484848;
$black-2: #3b3a3a;
$black-3: #585858;

$purple: #675895;
$purple-2: #6356a0;

$green: #87cfb8;
$light-green: #9bdbd7;
$dark-green: #4a9e9d;

$orange: #e25b37;
$orange-2: #f16133;

$blue: #162e50;
$blue-2: #102f5b;
$blue-3: #01243e;
$blue-4: #1d3a63;
$light-blue: #74c6d9;
$light-blue-2: #73c4c8;
$light-blue-3: #69a5a2;
$light-blue-4: #f1f9f9;

// Breakpoints
$small: "(max-width: 40em)";
$medium: "(max-width: 64em)";
$medium-only: "(min-width: 40.063em) and (max-width: 64em)";
$large: "(min-width:64.063em)";
$xlarge: "(min-width:100.063em)";
$xxlarge: "(min-width:120.063em)";