// Button styles

.blue-button, .blue-button:visited {
	color: $black-2;
	text-transform: uppercase;
	letter-spacing: 0.36em;
	font-size: 19px;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	
	&:hover {
		color: $dark-green;
	}
	&:before {
		content: ' ';
		background-color: $dark-green;
		display: block;
		width: 120px;
		height: 5px;
		margin: 0 auto 20px auto;
	}
	&:after {
		font-family: $icon;
		display: block;
		content: " ";
		background: url(../images/icon-arrows.svg) no-repeat center center;
		background-size: 90%;
		width: 86px;
		height: 30px;
		font-size: 100px;
		margin: 14px auto 0 auto;
	}
}

.orange-button, .orange-button:visited {
	@extend .blue-button;
	
	&:hover {
		color: $orange-2;
	}
	&:before {
		background-color: $orange-2;
	}
}

.purple-button, .purple-button:visited {
	@extend .blue-button;
	
	&:hover {
		color: $purple-2;
	}
	&:before {
		background-color: $purple-2;
	}
}