// Content Styles

.overflow-hidden {
	overflow: hidden;
}
.home-grid {
	padding: 0;
	overflow: hidden;
	
	ul {
		
		li {
			padding: 33% 0 0 0;
			transition: all 0.3s ease;
			background-size: 105%;
			background-position: center center;
			background-repeat: no-repeat;
			position: relative;
			
			@include breakpoint($medium) {
				min-height: 200px;
				padding-top: 5%;
			}
			
			a, a:visited {
				display: block;
				width: 100%;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				text-align: center;
				padding: 100px 20px 20px 20px;
				color: #FFF;
				
				@include breakpoint($medium) {
					padding-top: 30px;
				}
				
				.content {
					
					h3 {
						font-weight: 600;
						font-size: 19px;
						text-transform: uppercase;
						margin: 0 auto 7px auto;
						max-width: 360px;
						display: block;
						letter-spacing: 0.36em;
						line-height: 1.3;
						
						@include breakpoint($small) {
							margin-bottom: 10px;
						}
						br {
							
							@include breakpoint($small) {
								display: none;
							}
						}
						
						&:before {
							content: ' ';
							display: block;
							width: 100px;
							height: 86px;
							margin: 0 auto 25px auto;
							
							@include breakpoint($small) {
								display: none;
							}
						}
					}
					p {
						font-size: 16px;
						max-width: 400px;
						display: block;
						margin: 0 auto;
						font-weight: 400;
						letter-spacing: 0.05em;
						line-height: 1.7;
						
						@include breakpoint($medium) {
							font-size: 15px;
							line-height: 1.5;
						}
					}
				}
			}
			&.amenities {
				background-image: url(../images/box-1.jpg);
				
				a, a:visited {
					background: rgba(#675895, 0.77);
					
					.content {
						
						h3:before {
							background: url(../images/icon-bike.svg) no-repeat center center;
							background-size: 100%;
						}
					}
				}
			}
			&.residences {
				background-image: url(../images/box-2.jpg);
				
				a, a:visited {
					background: rgba(#f16133, 0.77);
					
					.content {
						
						h3:before {
							background: url(../images/icon-key.svg) no-repeat center center;
							background-size: 70%;
						}
					}
				}
			}
			&.community {
				background-image: url(../images/box-3.jpg);
				
				a, a:visited {
					background: rgba(#272727, 0.77);
					
					.content {
						
						h3:before {
							background: url(../images/icon-building.svg) no-repeat center center;
							background-size: 75%;
						}
					}
				}
			}
			&.contact {
				background-image: url(../images/box-4.jpg);
				
				a, a:visited {
					background: rgba(#87cfb8, 0.77);
					
					.content {
						
						h3:before {
							background: url(../images/phone-icon.svg) no-repeat center center;
							background-size: 70%;
						}
					}
				}
			}
			&:hover {
				background-size: 113%;

			}
		}
	}
}

.home-map-content {
	width: 100%;
	
	#home-map {
		width: 100%;
		height: 575px;
		position: relative;
		overflow: hidden;
		
		@include breakpoint($medium) {
			height: 250px;
		}
		
		&:before {
			display: block;
			content: ' ';
			position: absolute;
			top: -5px;
			left: 0;
			right: 0;
			width: 100%;
			height: 5px;
			background-color: #FFF;
			box-shadow: 0 0 25px rgba(0,0,0,0.8);
			z-index: 999;
		}
	}
}

.instagram-grid {
	width: 100%;
	overflow: hidden;
	
	ul {
		
		li {
			padding: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			padding-top: 33%;
			position: relative;
			
			@include breakpoint($small) {
				padding-top: 45%;
			}
			
			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 99;
				background: rgba(0,0,0,0.6);
				opacity: 0;
				color: #FFF;
				font-family: $serif;
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				
				@include breakpoint($medium) {
					display: none;
				}
				
				&:before {
					content: ' ';
					background: url(../images/insta-icon.svg) no-repeat center center;
					background-size: 50%;
					width: 86px;
					height: 86px;
					display: block;
					border: 2px solid #FFF;
					border-radius: 50%;
					margin: 100px auto 30px auto;
				}
				
				span.caption {
					width: 100%;
					max-width: 360px;
					margin: 0 auto;
					display: block;
				}
			}
			&:hover {
				
				.overlay {
					opacity: 1;
				}
			}
		}
	}
}

.page-hero {
	width: 100%;
}

.page-content {
	
	.page-intro {
		padding: 60px 0 120px 0;
		text-align: center;
		
		@include breakpoint($medium) {
			padding: 25px 15px;
		}
		
		h2 {
			color: $black-2;
			text-transform: uppercase;
			font-weight: 200;
			letter-spacing: 0.15em;
			font-size: 55px;
			margin-bottom: 35px;
			line-height: 1.15;
			
			@include breakpoint($medium) {
				font-size: 30px;
				margin-bottom: 20px;
			}
		}
		h2.amenities {
			
			&:before {
				font-family: $icon;
				content: "\e901";
				display: block;
				margin: 0 auto 10px auto;
				color: $orange-2;
				font-size: 105px;
				text-align: center;
				
				@include breakpoint($medium) {
					font-size: 75px;
					margin-bottom: 0;
				}
			}
		}
		h2.residences {
			
			&:before {
				font-family: $icon;
				content: "\e903";
				display: block;
				margin: 0 auto 30px auto;
				color: $dark-green;
				text-align: center;
				font-size: 95px;
				
				@include breakpoint($medium) {
					font-size: 60px;
					margin-bottom: 10px;
				}
			}
		}
		h2.community {
			
			&:before {
				font-family: $icon;
				content: "\e900";
				display: block;
				margin: 0 auto 20px auto;
				color: $purple-2;
				text-align: center;
				font-size: 82px;
				
				@include breakpoint($medium) {
					font-size: 60px;
					margin-bottom: 10px;
				}
			}
		}
		h2.contact {
			
			&:before {
				font-family: $icon;
				content: "\e902";
				display: block;
				margin: 0 auto 30px auto;
				color: $orange;
				text-align: center;
				font-size: 75px;
				
				@include breakpoint($medium) {
					font-size: 50px;
					margin-bottom: 10px;
				}
			}
		}
		p {
			font-size: 16px;
			color: $black-3;
			line-height: 1.7;
			font-weight: 400;
			letter-spacing: 0.02em;
			margin-bottom: 20px;
			
			@include breakpoint($medium) {
				font-size: 15px;
				line-height: 1.5;
				margin-bottom: 15px;
			}
		}
		.blue-button {
			margin-top: 20px;
		}
		
		&.residences-intro {
			padding-bottom: 0;
		}
	}
	&.blog-page-content {
		padding-top: 50px;
		
		.featured-post {
			width: 100%;
			padding-top: 0;
			
			.featured-post-hero {
				width: 100%;
				
				img {
					width: 100%;
					height: auto;
				}
			}
			.featured-post-meta {
				width: 100%;
				text-align: center;
				padding: 30px 0 20px 0;
				
				span {
					display: inline-block;
					margin-bottom: 15px;
					text-transform: uppercase;
					letter-spacing: 0.03em;
					
					a, a:visited {
						font-weight: bold;
					}
				}
				a, a:visited {
					color: $orange;
					display: inline-block;
					
					&:hover {
						//color: $yellow;
					}
				}
				h4 {
					font-size: 32px;
				}
			}
			hr {
				margin: 30px 0 65px 0;
				padding: 0;
				height: 1px;
				background-color: #DDD;
				width: 100%;
				border: none;
			}
		}
		.posts-sidebar {
			padding-bottom: 50px;
			
			ul {
				
				li {
					list-style-type: none;
					display: block;
					text-transform: uppercase;
					letter-spacing: 0.03em;
					font-weight: bold;
					margin-bottom: 10px;
					
					a, a:visited {
						//color: $red;
						
						&:hover {
							color: $orange;
						}
					}
				}
			}
		}
		.posts-list {
			
			ul {
				
				li {
					list-style-type: none;
					display: block;
					clear: both;	
					overflow: auto;
					margin-bottom: 45px;
					
					.content-right {
						padding-left: 20px;
						
						.post-title {
							color: #4CBDBA;
							
							h4 {
								font-size: 24px;
								margin-bottom: 10px;
							}
							
							&:hover {
								//color: $yellow;
							}
						}
						span {
							display: inline-block;
							margin-bottom: 5px;
							text-transform: uppercase;
							letter-spacing: 0.03em;
							
							a, a:visited {
								font-weight: bold;
								color: #4CBDBA;
								
								&:hover {
									//color: $yellow;
								}
							}
						}
					}
				}
			}
			.pagination {
				padding-bottom: 50px;
				
				h2 {
					display: none;
				}
				.next, .prev {
					display: none;
				}
				.nav-links {
					margin: 0 auto;
					text-align: center;
				}
				.page-numbers {
					font-family: $deco;
					//color: $red;
					font-size: 24px;
					margin: 0 3px;
					
					&:hover {
						color: #4CBDBA;
					}
					&.current {
						color: $orange;
					}
				}
			}
		}
		.post-single {
			padding-top: 15px;
			
			p {
				margin-bottom: 25px;
			}
		}
	}
	.archive-header {
		padding-bottom: 0;
	}
	.post-navigation {
		text-align: center;
		padding: 20px 0;
		
		h2 {
			display: none;
		}
		.nav-previous {
			display: inline-block;
			text-align: right;
			padding-right: 20px;
			font-weight: bold;
			
			a:before {
				content: '« ';
			}
			a, a:visited {
				color: $orange;
				
				&:hover {
					color: $orange;
				}
			}
		}
		.nav-next {
			display: inline-block;
			text-align: left;
			padding-left: 20px;
			font-weight: bold;
			
			a:after {
				content: ' »';
			}
			a, a:visited {
				color: $orange;
				
				&:hover {
					color: $orange;
				}
			}
		}
	}
	.back-to-blog {
		padding: 20px 0 50px 0;
		text-align: center;
		
		a, a:visited {
			color: #4CBDBA;
			font-family: $deco;
			text-transform: uppercase;
			font-size: 24px;
			letter-spacing: 0.03em;
			
			&:hover {
				//color: $yellow;
			}
		}
	}
}

.amenities-carousel {
	width: 100%;
	overflow: hidden;
		
	.cycle-slideshow {
		overflow: visible !important;
		width: 100%;
		max-width: 1030px !important;
		margin: 0 auto;
		position: relative;
		-webkit-transform:translate3d(0,0,0);
		-webkit-backface-visibility: hidden;    
		
		.slide-container {
			overflow: hidden !important;
			width: 100%;
			max-width: 1030px;
			background: #000;
			-webkit-transform:translate3d(0,0,0);
			-webkit-backface-visibility: hidden;    
			
			img {
				opacity: 0.5;
			}
			&.cycle-slide-active {
				
				img {
					opacity: 1;
				}
			}
		}
		.cycle-prev, .cycle-next {
			position: absolute;
			top: 40%;
			color: #FFF;
			
			&:before {
				font-family: $icon;
				font-size: 88px;
				cursor: pointer;
			}
			&:hover {
				color: $green;
			}
		}
		.cycle-prev {
			left: -125px;
			
			&:before {
				content: "\e904";
			}
		}
		.cycle-next {
			right: -125px;
			
			&:before {
				content: "\e905";
			}
		}
	}
}

.amenities-grid {
	width: 100%;
	overflow: hidden;
	background: url(../images/amenities-bg.jpg) no-repeat top center;
	background-size: cover;
	padding: 105px 95px;
	
	@include breakpoint($medium) {
		padding: 25px 0;
	}
	
	ul {
		max-width: 1490px;
		margin: 0 auto;
		
		li {
			padding: 10px;
			
			.content {
				height: 280px;
				text-align: center;
				color: #FFF;
				padding-top: 50px;
				
				@include breakpoint($medium) {
					height: 175px;
					padding-top: 20px;
				}
				
				.amenity-icon {
					width: 122px;
					height: 122px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 80%;
					margin: 0 auto 10px auto;
					
					@include breakpoint($medium) {
						width: 75px;
						height: 75px;
					}
				}
				p {
					font-size: 16px;
					max-width: 205px;
					margin: 0 auto;
					font-weight: 400;
				}
				
				.content-inner {
					opacity: 0;
					transition: all 0.5s ease;
					-webkit-transition: all 0.5s ease;
					
					-webkit-animation-name: scrollback;
					-webkit-animation-duration: 0.4s;
					
					-webkit-animation-iteration-count: 1;
					-webkit-animation-fill-mode: both;
					-webkit-animation-timing-function: ease-out;
					animation-name: scrollback;
					animation-duration: 0.4s;
				
					animation-iteration-count: 1;
					animation-fill-mode: both;
					animation-timing-function: ease-out;
					
					@-webkit-keyframes scrollback {
					    0%   {opacity: 1; transform: translateY(0);}
					    100% {opacity: 0; transform: translateY(100px);}
					}
					@keyframes scrollback {
					    0%   {opacity: 1; transform: translateY(0);}
					    100% {opacity: 0; transform: translateY(100px);}
					}
				}
			}
			
			&:nth-child(1) .content {
				background-color: #d85937;
			}
			&:nth-child(2) .content {
				background-color: #df7e59;
			}
			&:nth-child(3) .content {
				background-color: #8dd2b5;
			}
			&:nth-child(4) .content {
				background-color: #46bdbb;
			}
			&:nth-child(5) .content {
				background-color: #61559f;
			}
			&:nth-child(6) .content {
				background-color: #9dcab6;
			}
			&:nth-child(7) .content {
				background-color: #489897;
			}
			&:nth-child(8) .content {
				background-color: #61559f;
			}
			&:nth-child(9) .content {
				background-color: #d85937;
			}
			&:nth-child(10) .content {
				background-color: #9dcab6;
			}
			&:nth-child(11) .content {
				background-color: #61559f;
			}
			&:nth-child(12) .content {
				background-color: #46bdbb;
			}
			&:nth-child(13) .content {
				background-color: #df7e59;
			}
			&:nth-child(14) .content {
				background-color: #8dd2b5;
			}
			&:nth-child(15) .content {
				background-color: #46bdbb;
			}
		}
		&.fade-in {
			
			li {
				
				.content-inner {
					-webkit-animation-name: scroll;
					-webkit-animation-duration: 0.4s;
					
					-webkit-animation-iteration-count: 1;
					-webkit-animation-fill-mode: both;
					-webkit-animation-timing-function: ease-out;
					animation-name: scroll;
					animation-duration: 0.4s;
				
					animation-iteration-count: 1;
					animation-fill-mode: both;
					animation-timing-function: ease-out;
					
					@-webkit-keyframes scroll {
					    0%   {opacity: 0; transform: translateY(100px);}
					    100% {opacity: 1; transform: translateY(0);}
					}
					@keyframes scroll {
					    0%   {opacity: 0; transform: translateY(100px);}
					    100% {opacity: 1; transform: translateY(0);}
					}
				}
				&:nth-child(1) .content-inner {
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s;
				}
				&:nth-child(2) .content-inner {
					-webkit-animation-delay: 0.3s;
					animation-delay: 0.3s;
				}
				&:nth-child(3) .content-inner {
					-webkit-animation-delay: 0.5s;
					animation-delay: 0.5s;
				}
				&:nth-child(4) .content-inner {
					-webkit-animation-delay: 0.7s;
					animation-delay: 0.7s;
				}
				&:nth-child(5) .content-inner {
					-webkit-animation-delay: 0.9s;
					animation-delay: 0.9s;
				}
				&:nth-child(6) .content-inner {
					-webkit-animation-delay: 1.1s;
					animation-delay: 1.1s;
				}
				&:nth-child(7) .content-inner {
					-webkit-animation-delay: 1.3s;
					animation-delay: 1.3s;
				}
				&:nth-child(8) .content-inner {
					-webkit-animation-delay: 1.5s;
					animation-delay: 1.5s;
				}
				&:nth-child(9) .content-inner {
					-webkit-animation-delay: 1.7s;
					animation-delay: 1.7s;
				}
				&:nth-child(10) .content-inner {
					-webkit-animation-delay: 1.9s;
					animation-delay: 1.9s;
				}
				&:nth-child(11) .content-inner {
					-webkit-animation-delay: 2.1s;
					animation-delay: 2.1s;
				}
				&:nth-child(12) .content-inner {
					-webkit-animation-delay: 2.3s;
					animation-delay: 2.3s;
				}
				&:nth-child(13) .content-inner {
					-webkit-animation-delay: 2.5s;
					animation-delay: 2.5s;
				}
				&:nth-child(14) .content-inner {
					-webkit-animation-delay: 2.7s;
					animation-delay: 2.7s;
				}
				&:nth-child(15) .content-inner {
					-webkit-animation-delay: 2.9s;
					animation-delay: 2.9s;
				}
			}
		}
	}
}

.residences-embed {
	
	iframe {
		border: none;
		margin-top: 80px;
		margin-bottom: 100px;
		
		.closebtn {
			display: none !important;
		}
	}
}
.residences-content {
	width: 100%;
	
	ul.tabs {
		margin: 90px auto 0 auto;
		padding: 0;
		text-align: center;
		border-bottom: 2px dotted rgba($black, 0.4);
		
		@include breakpoint($medium) {
			margin: 20px auto;
		}
		
		li {
			display: inline-block;
			float: none;
			
			@include breakpoint($medium) {
				border-right: 2px dotted rgba($black, 0.4);
			}
			
			&:last-child {
				
				a, a:visited {
					border-right: 2px dotted rgba($black, 0.4);
					
					@include breakpoint($medium) {
						border-right: none;
					}
				}
			}
			a, a:visited {
				background: transparent;
				text-transform: uppercase;
				font-size: 17px;
				font-weight: 600;
				letter-spacing: 0.12em;
				border-left: 2px dotted rgba($black, 0.4);
				border-top: 2px dotted rgba($black, 0.4);
				margin-bottom: -2px;
				padding: 30px 0;
				min-width: 212px;
				color: $dark-green;
				font-family: $sans;
				
				@include breakpoint($medium) {
					font-size: 15px;
					padding: 20px 0;
				}
				
				&:hover {
					background: #FFF;
					
				}
			}
			&.active {
				background: #FFF;
				
				@include breakpoint($medium) {
					
					a, a:visited {
						text-decoration: underline;
					}
				}
				
				a, a:visited {
					
				}
			}
		}
	}
	.tabs-content {
		width: 100%;
		
		.tab-content {
			padding: 80px 0;
			
			@include breakpoint($medium) {
				padding: 30px 0;
			}
			
			.cycle-slideshow {
				position: relative;
				overflow: auto;

				.unit {
					width: 100%;
					
					.unit-info {
						background-color: $light-green;
						text-align: center;
						padding: 65px 20px 60px 20px;
						
						@include breakpoint($medium) {
							padding: 30px 15px;
						}
						
						h3 {
							color: #FFF;
							font-size: 32px;
							font-weight: 200;
							letter-spacing: 0.12em;
							text-transform: uppercase;
							margin-bottom: 30px;
							
							@include breakpoint($medium) {
								margin-bottom: 20px;
								font-size: 26px;
							}
						}
						span {
							font-size: 17px;
							color: #FFF;
							font-weight: 400;
							line-height: 1.8;
							
							@include breakpoint($medium) {
								line-height: 1.6;
							}
						}
						.blue-button {
							margin-top: 45px;
						}
					}
					.unit-image {
						text-align: center;
						padding-bottom: 60px;
						
						@include breakpoint($medium) {
							padding-bottom: 0;
						}
					}
				}
				.floorplan-nav {
					font-family: $icon;
					width: 100%;
					
					.prev {
						display: block;
						position: absolute;
						top: 25%;
						left: 0;
						color: $green;
						z-index: 999;
						
						@include breakpoint($medium) {
							top: 19%;
							left: 15px;
							color: $dark-green;
						}
						
						&:before {
							display: block;
							content: "\e904";
							font-size: 64px;
							cursor: pointer;
							
							@include breakpoint($medium) {
								font-size: 40px;
							}
						}
						&:hover {
							color: darken($green, 20%);
						}
					}
					.next {
						display: block;
						position: absolute;
						top: 25%;
						right: 0;
						color: $green;
						z-index: 999;
						
						@include breakpoint($medium) {
							top: 19%;
							right: 15px;
							color: $dark-green;
						}
						
						&:before {
							display: block;
							content: "\e905";
							font-size: 64px;
							cursor: pointer;
							
							@include breakpoint($medium) {
								font-size: 40px;
							}
						}
						&:hover {
							color: darken($green, 20%);
						}
					}
				}
			}
		}
	}
}

.residence-amenities {
	width: 100%;
	background: $orange;
	background-size: 650px;
	padding: 70px 0 90px 0;
	text-align: center;
	color: #FFF;
	
	@include breakpoint($medium) {
		padding: 25px 15px;
	}
	
	h2 {
		font-size: 55px;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 200;
		line-height: 1.1;
		font-family: $deco;
		
		@include breakpoint($medium) {
			font-size: 30px;
		}
		
		&:before {
			font-family: $icon;
			font-size: 70px;
			content: "\e906";
			display: block;
			margin: 0 auto 10px auto;
			color: rgba(#FFF, 0.6);
			text-align: center;
			
			@include breakpoint($medium) {
				font-size: 50px;
			}
		}
	}
	ul {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		margin: 60px 0 0 0;
		padding: 0;
		
		@include breakpoint($medium) {
			-moz-column-count: 1;
			-webkit-column-count: 1;
			column-count: 1;
			margin-top: 20px;
		}
		
		li {
			list-style-type: none;
			text-align: left;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 6px;
			letter-spacing: 0.02em;
			
			@include breakpoint($medium) {
				margin-bottom: 8px;
				font-size: 15px;
				text-align: center;
			}
		}
	}
}

.map-content {
	width: 100%;
	
	#neighborhood-map {
		width: 100%;
		height: 575px;
		position: relative;
		overflow: hidden;
		
		@include breakpoint($medium) {
			height: 350px;
		}
		
		&:before {
			display: block;
			content: ' ';
			position: absolute;
			top: -5px;
			left: 0;
			right: 0;
			width: 100%;
			height: 5px;
			background-color: #FFF;
			box-shadow: 0 0 25px rgba(0,0,0,0.8);
			z-index: 999;
		}
	}
}

.community-locations {
	width: 100%;
	padding: 0;
	overflow: hidden;
	
	ul {
		
		li.locations-category {
			text-align: center;
			color: #696969;
			padding: 0;
			border-right: 1px dotted #DDD;
			
			&:last-child {
				border-right: none;
			}
			
			.content {
				padding: 0;
				min-height: 500px;
				
				@include breakpoint($medium) {
					min-height: 220px;
					padding-bottom: 20px;
				}
				
				&#businesses {
					
					h3 {
						background: #e25b37;
					}
				}
				&#neighborhood {
					
					h3 {
						background: #a0ddd9;
					}
				}
				&#outdoor {
					
					h3 {
						background: #a4d3be;
					}
				}
				&#restaurants {
					
					h3 {
						background: #6f60bf;
					}
				}
				&#shopping {
					
					h3 {
						background: #4a9e9d;
					}
				}
				h3 {
					color: #FFF;
					font-size: 19px;
					font-weight: 600;
					font-family: $sans;
					text-transform: uppercase;
					letter-spacing: 0.32em;
					margin-bottom: 30px;
					padding: 35px 20px 30px 20px;
					cursor: pointer;
					
					@include breakpoint($medium) {
						padding: 25px 20px 20px 20px;
						font-size: 16px;
						margin-bottom: 20px;
					}
				}
				ul {
					margin: 0;
					padding: 0;
					
					li {
						list-style-type: none;
						clear: both;
						display: block;
						margin-bottom: 4px;
						padding: 0 20px;
						
						a, a:visited {
							color: #696969;
							font-size: 16px;
							font-weight: 400;
							
							&:hover {
								color: $purple-2;
							}
						}
					}
				}
			}
		}
	}
}

.contact-content {
	
	.contact-left {
		text-align: center;
		
		h3 {
			color: #FFF;
			font-size: 33px;
			font-weight: 200;
			letter-spacing: 0.14em;
			margin-bottom: 30px;
			text-transform: uppercase;
			
			@include breakpoint($medium) {
				font-size: 26px;
				margin-bottom: 15px;
				letter-spacing: 0.1em;
			}
		}
		p {
			font-size: 17px;
			color: #FFF;
			font-weight: 400;
			line-height: 1.7;
		}
		.blue-button {
			margin-top: 35px;
			
			@include breakpoint($medium) {
				margin-top: 20px;
			}
		}
		aside.address {
			background-color: $light-green;
			padding: 60px 30px 50px 30px;
			margin-bottom: 40px;
			
			@include breakpoint($medium) {
				padding: 30px 15px 25px 15px;
				margin-bottom: 20px;
			}
		}
		aside.hours {
			background-color: $orange;
			padding: 60px 20px;
			
			@include breakpoint($medium) {
				padding: 30px 15px 25px 15px;
			}
			
			p {
				font-size: 15px;
			}
		}
	}
}

.gallery-content {
	width: 100%;
	overflow: hidden;
	
	ul.tabs {
		margin: 90px auto 0 auto;
		padding: 0;
		text-align: center;
		border-bottom: 2px dotted rgba($black, 0.4);
		
		@include breakpoint($medium) {
			margin: 30px auto;
		}
		
		li {
			display: inline-block;
			float: none;
			
			@include breakpoint($medium) {
				border-right: 2px dotted rgba($black, 0.4);
			}
			
			&:last-child {
				
				a, a:visited {
					border-right: 2px dotted rgba($black, 0.4);
					
					@include breakpoint($medium) {
						border-right: none;
					}
				}
			}
			a, a:visited {
				background: transparent;
				text-transform: uppercase;
				font-size: 17px;
				font-weight: 600;
				letter-spacing: 0.12em;
				border-left: 2px dotted rgba($black, 0.4);
				border-top: 2px dotted rgba($black, 0.4);
				margin-bottom: -2px;
				padding: 30px 0;
				min-width: 212px;
				color: $dark-green;
				font-family: $sans;
				
				@include breakpoint($medium) {
					font-size: 15px;
					padding: 20px 0;
				}
				
				&:hover {
					background: #FFF;
				}
			}
			&.active {
				background: #FFF;
				
				@include breakpoint($medium) {
					
					a, a:visited {
						text-decoration: underline;
					}
				}
				
				a, a:visited {
					
				}
			}
		}
	}
	.gallery-row {
		background: rgba(0,0,0,0.65) url(../images/secondary-bg.svg);
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		overflow: hidden;
		
		.tabs-content {
			margin-bottom: 0;
		}
	}
	.gallery-slideshow {
		overflow: visible !important;
		width: 100%;
		margin: 0 auto;
		position: relative;
		//-webkit-transform:translate3d(0,0,0);
		//-webkit-backface-visibility: hidden;    
		
		.cycle-carousel-wrap {
			//width: 100% !important;
		}
		.photos-slide-container-1, .photos-slide-container-2, .photos-slide-container-3 {
			overflow: hidden !important;
			background: #000;
			//-webkit-transform:translate3d(0,0,0);
			//-webkit-backface-visibility: hidden;    
			
			img {
				opacity: 0.5;
			}
			&.cycle-slide-active {
				
				img {
					opacity: 1;
				}
			}
		}
		.prev, .next {
			position: absolute;
			top: 40%;
			color: #FFF;
			
			&:before {
				font-family: $icon;
				font-size: 88px;
				cursor: pointer;
			}
			&:hover {
				color: $green;
			}
		}
		.prev {
			left: -125px;
			
			&:before {
				content: "\e904";
			}
		}
		.next {
			right: -125px;
			
			&:before {
				content: "\e905";
			}
		}
	}
	.gallery-carousel {
		width: 100%;
		max-width: 1030px;
		margin: 0 auto;
		overflow: visible;
		position: relative;
		
		.slick-list {
			overflow: visible;
		}
		.carousel-units {
			outline: none !important;
			background-color: #000;
			transition: all 0.3s ease;
			position: relative;
			
			img {
				width: 100%;
				height: auto;
				outline: none !important;
				opacity: 0.6;
			}
			&.slick-current {
				
				img {
					opacity: 1;
				}
			}
			
			&.is-active .virtual-tour-link {

			}
			.virtual-tour-link {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				color: #FFF;
				text-align: center;
				margin: 0 auto;
				z-index: 999;
				
				span {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					right: 0;
					margin: 0 auto;
					text-transform: uppercase;
					font-weight: 600;
					text-shadow: 0 0 10px #000;
					font-size: 32px;
					letter-spacing: 0.1em;
				}
				
				iframe {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					z-index: 9999;
				}
			}
		}
		.slick-arrow {
			position: absolute;
			top: 40%;
			color: #FFF;
			z-index: 99;
			background: transparent;
			content: ' ';
			
			&:before {
				font-family: $icon;
				font-size: 88px;
				cursor: pointer;
			}
			&:hover {
				color: $green;
			}
			&:focus {
				outline: none;
			}
		}
		.slick-prev {
			left: -145px;
			
			&:before {
				content: "\e904";
			}
		}
		.slick-next {
			right: -145px;
			
			&:before {
				content: "\e905";
			}
		}
	}
	.tabs-content {
		
		@include breakpoint($medium) {
			margin-bottom: 0;
		}
		
		.tab-content {
			padding: 0;
			display: block !important;
			height: 0;
			overflow: hidden;
			
			&.active {
				display: block !important;
				height: auto;
			}
		}
	}
	.thumb-pager {
		padding-top: 70px;
		padding-bottom: 60px;
		
		@include breakpoint($medium) {
			padding: 30px 15px;
		}
		
		li img {
			cursor: pointer;
		}
	}

}
.floorplan-modal .mfp-content {
	margin: 50px 0;
	max-width: 1000px !important;
	background-color: #FFF;
	height: auto;
}
.mfp-wrap {
	z-index: 9999999;
}
.mfp-bg {
	z-index: 999999 !important;
}
#popper3 {
	background: #FFF;
	width: 100%;
	max-width: 730px;
	margin: 0 auto;
	text-align: center;
	color: #384665;
	position: relative;
	
	z-index: 99999;
	
	@include breakpoint($small) {
		max-width: 450px;
	}
	.mfp-close {
		color: $light-blue;
		opacity: 1;
		font-size: 32px;
		
		&:hover {
			color: darken($light-blue, 10%);
		}
	}
}
.pop-header {
	text-align: center;
	padding: 45px 0 0 0;
}
.pop-header .nav__logo img {
	width: 100%;
	height: auto;
	max-width: 195px;
	
	@include breakpoint($small) {
		margin: 0 auto;
		max-width: 250px;
	}
}
.pop-up a, .pop-up a:visited {
	color: $light-blue-2;
	
	&:hover {
		color: darken($light-blue-2, 10%);
	}
}
.pop-up h1 {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: normal;
	color: $light-blue-2;
	padding: 45px 25px 65px 25px;
	line-height: 1.2em;
	letter-spacing: 0.14em;
	margin: 0;
	
	@include breakpoint($small) {
		padding: 20px;
		font-size: 30px;
	}
}
.pop-footer {
	background: $orange url(../images/popup-footer-bg.svg);
	padding: 35px 15px 35px 15px;
	
	@include breakpoint($small) {
		padding: 15px;
	}
}
.pop-footer p.restrictions {
	color: #FFF;
	font-size: 17px;
	font-weight: 300;
	padding: 0;
	margin: 0;
	
	@include breakpoint($small) {
		font-size: 14px;
	}
}
.promo .mfp-content {
	padding: 0;
	max-width: 690px;
	margin: 0 auto;
}
.promo .mfp-content .mfp-close {
	color: rgba(0,0,0,0.5);
}













