// Footer Styles

.site-footer {
	width: 100%;
	background: #232324 url(../images/footer-bg.svg);
	padding: 50px 0 80px 0;
	color: #FFF;
	text-align: center;
	
	@include breakpoint($medium) {
		padding: 20px 0 40px 0;
	}
	
	.footer-logo {
		
		img {
			max-width: 262px;
		}
	}
	.footer-text {
		margin: 20px 0 20px 0;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: 12px;
		font-weight: 200;
	}
	.alliance-logo {
		
		img {
			display: inline-block;
		}
		.a-logo {
			max-width: 170px;
		}
		.n-logo {
			max-width: 45px;
			margin-left: 10px;
		}
	}
	a, a:visited {
		
		&:hover {
			color: $green;
		}
	}
}