// Header Styles

.top-banner {
	position: relative;
	z-index: 1000;
	background-color: $orange-2;
	color: #FFF;
	text-align: center;
	padding: 25px 15px 20px 15px;
	max-height: 450px;
	transition: padding 0.2s ease-in-out 0.2s, max-height 0.2s ease-in-out 0.2s;
	overflow: hidden;

	@include breakpoint($small) {
		padding: 15px 5px;
	}

	.overflow-hidden & {
		max-height: 0;
		padding: 0;
		transition: padding 0.2s ease-in-out 0.2s, max-height 0.2s ease-in-out 0.2s;
	}

	h1 {
		font-family: $sans;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 0.09em;
		font-weight: 600;
		@include breakpoint($small) {
			font-size: 20px;
		}
	}
	p.restrictions {
		margin-top: 5px;
		font-size: 14px;
	}
}
.site-header {
	position: relative;
	background: #272222;
	height: 70px;
	z-index: 1000;

	@include breakpoint($medium) {
		height: 75px;
	}

	.header-content {
		position: absolute;
		top: 9px;
		left: 0;
		right: 0;
		width: 100%;
		max-width: 1260px;
		margin: 0 auto;
		padding: 0 15px;
		z-index: 9999;

		.header-logo img {
			width: 100%;
			max-width: 225px;
			height: auto;
			float: left;

			@include breakpoint($medium) {
				max-width: 175px;
			}
		}
		.secondary-nav {
			float: right;
			margin: 15px 70px 0 0;

			@include breakpoint($small) {
				margin: 0 auto;
				float: none;
				display: block;
				clear: both;
				text-align: center;
				padding-top: 4px;
			}
			li {
				display: inline-block;
				text-align: right;
				margin-left: 30px;

				@include breakpoint($small) {
					text-align: center;
					margin: 0 15px;
				}

				a, a:visited {
					color: #FFF;
					font-weight: 400;
					font-size: 13px;
					letter-spacing: 0.06em;

					@include breakpoint($small) {
						font-size: 13px;
						letter-spacing: 0.03em;
					}

					&:hover {
						color: $green;
					}

					&.apply-now, &.text-us {
						@include breakpoint($medium) {
							display: none;
						}
					}

					&.phone {
						font-family: $deco;
						font-size: 15px;
						vertical-align: -2px;
						letter-spacing: 0.12em;

						@include breakpoint($medium) {
							display: none;
						}
					}
				}
			}
		}
		.nav-toggle-container {
			position: absolute;
			top: 15px;
			right: 15px;
			z-index: 9999;

			@include breakpoint($small) {
				top: 14px;
			}

			.nav-toggle {
				position: relative;
				width: 30px;
				height: 30px;
				cursor: pointer;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);

				&:hover {

					span {
						background-color: $green;
					}
				}
				span {
					display: block;
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: #FFF;
					-webkit-transition: .3s ease-in-out;
					-moz-transition: .3s ease-in-out;
					-o-transition: .3s ease-in-out;
					transition: .3s ease-in-out;
				}
				span:nth-child(1) {
					top: 0px;
				}
				span:nth-child(2) {
					top: 11px;
				}
				span:nth-child(3) {
					top: 11px;
				}
				span:nth-child(4) {
					top: 22px;
				}
				&.active span:nth-child(1) {
					opacity: 0;
				}
				&.active span:nth-child(2) {
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					background-color: $green;
				}
				&.active span:nth-child(3) {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
					background-color: $green;
				}
				&.active span:nth-child(4) {
					opacity: 0;
				}
			}
		}
	}
}
.home-hero {
	width: 100%;
	position: relative;

	.apply-link {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;

		img {
			width: 100%;
			height: auto;
			max-width: 126px;
			padding-bottom: 32px;
			border-bottom: 5px solid #FFF;

			@include breakpoint($medium) {
				max-width: 75px;
				padding-bottom: 15px;
			}
		}
		span {
			display: block;
			clear: both;
			margin-top: 2rem;
			font-size: 19px;
			text-transform: uppercase;
			letter-spacing: 0.38em;
			font-weight: 600;
			color: #FFF;
			background-color: $orange-2;
			max-width: 380px;
			margin-left: auto;
			margin-right: auto;
			line-height: 3rem;

			@include breakpoint($medium) {
				// margin-top: 8px;
				letter-spacing: 0.25em;
				font-size: 16px;
				line-height: 3rem;
				max-width: 310px;
			}
		}
	}
}
.site-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(#232222, 0.99);
	display: block;
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.3s ease-in-out, visibility 0s 0.3s;
	transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
	overflow-y: scroll;

	&.visible {
		visibility: visible;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		-webkit-transition: -webkit-transform 0.4s ease-in-out;
		transition: transform 0.4s ease-in-out;
	}

	.menu-container {
		position: absolute;
		top: 70px;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 20px;
		padding-bottom: 20px;
	}

	ul.menu {
		margin: 0;
		padding: 0;
		width: 100%;

		li {
			width: 100%;
			clear: both;
			display: block;
			list-style-type: none;
			text-align: center;
			padding: 0;
			margin: 0 0 20px 0;
			position: relative;

			@include breakpoint($medium) {
				margin: 0 0 8px 0;
			}

			a, a:visited {
				font-family: $deco;
				color: #FFF;
				font-size: 28px;
				text-transform: uppercase;
				letter-spacing: 0.16em;
				font-weight: 200;

				@include breakpoint($small) {
					font-size: 20px;
				}
				@include breakpoint($large) {
					font-size: 32px;
				}

				&:hover {
					color: $green;
				}
			}
			&.current-menu-item {

				a, a:visited {

					@include breakpoint($medium) {
						color: $green;
					}
				}

				&:after {
					position: absolute;
					left: 0;
					right: 0;
					bottom: -10px;
					content: ' ';
					display: block;
					margin: 0 auto;
					width: 97px;
					height: 5px;
					background-color: #FFF;

					@include breakpoint($medium) {
						display: none;
					}
				}
			}
		}
	}
	.apply-now-mobile, .apply-now-mobile:visited,
	.text-us-mobile, .text-us-mobile:visited,
	.phone-mobile, .phone-mobile:visited {
		display: none;

		@include breakpoint($medium) {
			display: block;
			margin: 0 auto;
			color: #FFF;
			text-align: center;
			font-family: $deco;
		}
	}
	.social-container {
		margin-top: 35px;
		text-align: center;
		padding: 0;

		@include breakpoint($medium) {
			margin-top: 20px;
		}

		&:before {
			content: ' ';
			width: 140px;
			height: 5px;
			background-color: #FFF;
			display: block;
			margin: 0 auto 40px auto;

			@include breakpoint($medium) {
				margin-bottom: 20px;
			}
		}

		h4 {
			color: #FFF;
			font-weight: 400;
			font-size: 20px;
			letter-spacing: 0.22em;
			text-transform: uppercase;
		}
		ul.nav-social {
			width: 100%;
			margin: 20px 0 0 0;
			padding: 0;

			@include breakpoint($medium) {
				margin-top: 5px;
			}

			li {
				list-style-type: none;
				display: inline-block;
				margin: 0 11px;

				a, a:visited {
					color: #FFF;
					font-family: $icon;

					span {
						display: none;
					}
					&:hover {
						color: $green;
					}
				}

				&.twitter a:before {
					content: "\ea96";
					font-size: 26px;
				}
				&.facebook a:before {
					content: "\ea90";
					font-size: 22px;
				}
				&.instagram a:before {
					content: "\ea92";
					font-size: 26px;
					vertical-align: -2px;
				}
				&.google-plus a:before {
					content: "\ea8b";
					font-size: 36px;
					vertical-align: -6px;
				}
			}
		}
	}
}
.gallery-header {
	background-color: $blue;
	width: 100%;
	height: 150px;
}
.page-template-page-gallery {

	img.header-hero {
		display: none;
	}
}
